<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{{#if messages.info}}
    <div class="row justify-content-center" style="position: absolute; width: 100%; margin-top: 15px;">
        <div class="col-md-6">
            <div class="alert alert-{{#if messages.type}}{{messages.type}}{{else}}warning{{/if}}
            alert-dismissible fade show" role="alert">
                {{messages.info}}
                <button type="button" class="btn-close"
                        data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        </div>
    </div>
{{/if}}
<div class="home">
    <div class="row justify-content-center" id="head">
        <div class="col-md-6">
            <h3 style="text-align: start;">This is your homepage</h3>
        </div>
        <div class="col-md-6 d-flex justify-content-end"><a class="btn btn-primary" href="/logout">Logout</a></div>
    </div>
    <div class="row justify-content-center">
        <table class="table">
            <thead>
            <tr>
                <th style="text-align: center; width: 100px;" scope="col">id</th>
                <th style="text-align: center; width: 600px;" scope="col">Name</th>
                <th style="text-align: center" scope="col">Created</th>
                <th style="text-align: center" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {{#each users}}
            <tr>
                <td style="text-align: center">{{this.id}}</td>
                <td style="text-align: center">{{this.name}}</td>
                <td style="text-align: center">{{this.created}}</td>
                <td><a class="btn btn-danger" href="/delete/{{this.id}}">Delete</a></td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center" style="margin-top: 50px;">
        <div class="col-md-3" style="display: flex; justify-content: center; flex-direction: row;">

        </div>
    </div>
</div>