<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{{#if messages.info}}
    <div class="row justify-content-center" style="position: absolute; width: 100%; margin-top: 15px;">
        <div class="col-md-6">
            <div class="alert alert-{{#if messages.type}}{{messages.type}}{{else}}warning{{/if}}
            alert-dismissible fade show" role="alert">
                {{messages.info}}
                <button type="button" class="btn-close"
                        data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        </div>
    </div>
{{/if}}
<div class="row justify-content-center" id="container_form">
    <div class="row justify-content-center" id="text-welcome">
        <div class="col-md-6 d-flex justify-content-center">
            <span id="span-text">Welcome Back!</span>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <form style="width: 50%;" action="/login" method="post">
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" id="name" required>
            <br>
            <label for="password">Password</label>
            <br>
            <input class="form-input" type="password" name="password" id="password" required>
            <i class="far fa-eye" id="togglePassword" style="position: absolute; margin-top: 24px; margin-left: -30px; cursor: pointer;"></i>
            <br>
            <br>
            <button id="submit" class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
    <div class="row justify-content-center" id="text-sign-in">
        <span style="text-align: center">Dont have an account? <a href="/register">Sign up</a></span>
    </div>
</div>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>