input{
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    border: 0.5px solid #E5E5E5;
    background: #F2F2F2;
    height: 48px;
    margin-top: 8px;
    padding: 16px;
}

#text-sign-in{
    margin-top: 24px;
}

#name{
    margin-bottom: 36px;
}

#name:focus{
    outline: none;
}

#password:focus{
    outline: none;
}

.btn{
    border-radius: 6px;
    width: 100%;
}

#register{
    margin-top: 32px;
}

#text-welcome{
    font-family: Arial;
    margin-bottom: 24px;
}

#span-text{
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    display: flex;
    align-items: center;

    /* Black-900 (#1A1A1A) */

    color: #1A1A1A;
    width: 50%;
}

label{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    /* identical to box height, or 109% */

    letter-spacing: 0.3px;

    /* Black-800 (#333333) */

    color: #333333;
}

#container_form{
    width: 100%;
    position: absolute;
    top: 30%;
}